@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lato|Noto+Serif|Raleway');
body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f0f5;
}

.row {
    padding-left: 5px;
    padding-right: 5px;
}
.col {
  padding-top: 5px;
  padding-bottom: 5px;
  flex: 1;
}
h2 {
  font-family: 'Raleway', sans-serif;
}
h4 {
  font-family: 'Lato', serif;
  color: #252937;
}
.navbar {
  margin-bottom: 0;
}
#navbar {
  background-color: #252937;
}
a#navtitle {
  color: #f1f1f1;
  font-family: 'Comfortaa', cursive;
  font-size: 1.8em;
}
a#navtitle:hover, a#navtitle:ative {
  color: #4493c4;
}
.btn-indigo {
  color: #fff;
  background-color: #414d60;
  border-color: #414d60;
}
.btn-dark {
  color: #fff;
  background-color: #252937;
  border-color: #f1f1f1;
}

button {
  font-family: 'Raleway', sans-serif;
}
.btn-indigo:hover {
  background-color: #4493c4;
  color: #fff;
  border-color: #4493c4;
}
.btn-indigo:focus,.btn-indigo:active {
  background-color: #4493c4;
  color: #252937;
  border-color: #4493c4;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  background-color: #4493c4;
  color: #fff;
}

div.form {
  padding: 11px 3px 9px 3px;
  background-color: #414d60;
  color: #fff;
}
h2.formheader {
  padding: 7px 0px 7px 0px;
}


div.feature {
  margin-top: 10px;
  background-color: #f1f1f1;
  border: 3px solid #252937;
}
div.feature-margin {
  background-color: #f1f1f1;
  padding: 8px;
  visibility: none !important;
}
div.defaultclient, div.clienta {
  background-color: #2abb9b;
}
div.clientb {
  background-color: #89729E
}
div.clientc {
  background-color: #E29C45;
}
p.description {
  font-style: italic;
}




button#submitbutton {
  margin-top: 17px;
  margin-bottom: 5px;
  line-height: 33px;
}
div#formcontainer {
  border: solid #252937;
  border-width: 0px 3px 3px 3px;
  padding: 3px;
  background-color: #414d60;
  color: #fff;
}
div#featurecontainer {
  border: solid #252937;
  border-width: 0px 3px 3px 3px;
  padding: 3px;
  background-color: #414d60;
  color: #fff;
}
.flex-grid {
  display: flex;
  justify-content: space-between;
}
.small {
  flex-grow: 1;
}
.med {
  flex-grow: 8;
}
.large {
  flex-grow: 16;
}
@media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
}
