@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lato|Noto+Serif|Raleway');
body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f0f5;
}
h2 {
  font-family: 'Raleway', sans-serif;
}
h5 {
  font-family: 'Noto Serif', serif;
}
button {
  font-family: 'Raleway', sans-serif;
}
.btn-indigo:hover {
  background-color: #4493c4;
  color: #fff;
  border-color: #4493c4;
}
.btn-indigo:focus,.btn-indigo:active {
  background-color: #4493c4;
  color: #252937;
  border-color: #4493c4;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  background-color: #4493c4;
  color: #fff;
}
p.description {
  font-style: italic;
}
div.form {
  padding: 11px 3px 9px 3px;
  background-color: #414d60;
  color: #fff;
}
h2.formheader {
  padding: 7px 0px 7px 0px;
}
div.feature, div.clienta {
  border: 3px solid #03a678;
  padding: 3px;
  background-color: #2abb9b;
}
div.clientb {
  border: 3px solid #5D3F6A;
  padding: 3px;
  background-color: #89729E;
}
div.clientc {
  border: 3px solid #F9690E;
  padding: 3px;
  background-color: #E29C45;
}
div.feature-margin {
  background-color: #f1f1f1;
  padding: 8px;
  visibility: none !important;
}
.row {
    padding-left: 5px;
    padding-right: 5px;
}
.col {
  padding-top: 5px;
  padding-bottom: 5px;
}


.navbar {
  margin-bottom: 0;
}
.btn-indigo {
  color: #fff;
  background-color: #414d60;
  border-color: #414d60;
}
.btn-dark {
  color: #fff;
  background-color: #252937;
  border-color: #f1f1f1;
}
#navbar {
  background-color: #252937;
}
a#navtitle {
  color: #4493c4;
  font-family: 'Comfortaa', cursive;
  font-size: 1.8em;
}
button#submitbutton {
  margin-top: 17px;
  margin-bottom: 5px;
  line-height: 33px;
}
div#formcontainer {
  border: solid #252937;
  border-width: 0px 3px 3px 3px;
  padding: 3px;
  background-color: #414d60;
  color: #fff;
}
