p.description {
  font-style: italic;
}
div.form {
  border: 3px solid #bbb;
  padding: 3px;
  background-color: #eee;
}
div.feature, div.clienta {
  border: 3px solid #03a678;
  padding: 3px;
  background-color: #2abb9b;
}
div.clientb {
  border: 3px solid #5D3F6A;
  padding: 3px;
  background-color: #89729E;
}
div.clientc {
  border: 3px solid #F9690E;
  padding: 3px;
  background-color: #E29C45;
}
div.feature-margin {
  background-color: #f1f1f1;
  padding: 8px;
  visibility: none !important;
}
.row {
    padding-left: 5px;
    padding-right: 5px;
}
.col {
  padding-top: 5px;
  padding-bottom: 5px;
}


.navbar {
  margin-bottom: 0;
}
.btn-indigo {
  color: #fff;
  background-color: #6610f2;
  border-color: #6610f2;
}
