<!doctype html>
<html>
  <head>
    <title>Feature Requester</title>
    <!-- css libs -->
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='jquery-ui/themes/smoothness/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootflat/css/bootflat.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />

    </head>
      <body>
    <div class="row">
      <div class="col-md-12">
        <h1>Feature Requester</h1>
      </div>
    </div>

    <div class="container">

      <!-- ko ifnot: showForm -->
      <div class="col">
        <button class="btn btn-primary btn-block" data-bind="click: toggleForm">Add Feature</button>
      </div>

      <!-- /ko -->


      <!-- ko if: showForm -->
      <div class="form">
        <div class="row">
            <div class="col-md-8">
              <h3>Add Feature</h3>
            </div>
            <div class="col-md-4">
              <a href="#" data-bind="click: toggleForm">Hide form</a>
            </div>
        </div>

          <form data-bind="with: newFeature">
      <div class="row">
          <div class="col">
            <label for="title">Title:</label>
              <input id="title" name="title" data-bind="value: title" class="form-control" type="text" size="30" name=title />
          </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="client">Client:</label>
          <select id="client" name="client" data-bind="options: $root.clientOptions" class="form-control"></select>
        </div>
        <div class="col">
          <label for="target_date">Target date:</label>
          <input type="text" id="target_date" name="target_date" data-bind="datepicker: {}, value: target_date" type="date" class="form-control"></select>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <label for="description">Description:</label>
              <textarea id="description" name="description" data-bind="value: description" class="form-control" size="300"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="priority">Priority:</label>
            <input id="priority" name="priority" data-bind="value: priority" type="number" class="form-control" size="5" />
        </div>
        <div class="col">
          <label for="product_area">Product Area:</label>
          <select id="product_area" name="product_area" data-bind="options: $root.productOptions" class="form-control"></select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
      </div>

          </form>
        </div>
        <!-- /ko -->
      </div>

  </div>
  <div class="container">

    <!--ko foreach: features -->

    <div class="feature-margin" data-bind="visible: $root.features().length > 0">
      <div data-bind="css: clientClass">
        <div class="row">
          <div class="col">
              <h5>#<span data-bind="text: client_priority"></span>:
                <span data-bind="text: title"></span></h5>
          </div>
          <div class="col">
              [<span data-bind="text: client"></span>]
          </div>
        </div>
        <div class="row">
          <div class="col">
              Product area: <span data-bind="text: product_area"></span>
          </div>
          <div class="col">
              <p>Target date: <span data-bind="text: target_date"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="description" data-bind="text: description"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /ko -->


        <ul data-bind="visible: $root.features().length === 0">
          <li><em>No features have been added yet.</em></li>
    </ul>

  </div>

    <!-- js -->
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='knockout/dist/knockout.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='knockout-jqueryui/dist/knockout-jqueryui.js') }}"></script>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
